.App {
  text-align: center;
}

#hover2:hover{
    color: #e6891e;
}
#hover3:hover{
    color: #e6891e;
}
#hover4:hover{
    color: #e6891e;
}
#hover5:hover{
    color: #e6891e;
}
#hover6:hover{
    color: #e6891e;
}
#hover7:hover{
    color: #e6891e;
    text-decoration: underline;
}
#hover8:hover{
  color: #e6891e;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
